
h1{
    text-align: center;
    color: #371B38;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
body{
    color: gray;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #DBD3DB;
}
h2{
    color: #371B38;
    font-weight: bold;
    font-size: 1,5rem;
}
p{
width: auto;
margin: auto;
}


#Equipe img {
    border-radius: 80%;
    width: 400px;
    height: 400px;
    margin: 20px;   
 }
 
 